@use '../base/space' as space;
@use '../base/color' as *;

// - dimensions
// - margins spacing

// todo see below
// change to delete Button for Edit Form
// Rename file to _form-modules.scss

// ===============================
// # Form Module - Main Components
// ===============================

// * Used with Script
.overlay__module {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: Gray;
    z-index: 1;
}

.overlay__module.hidden {
    display: none;
}

// Module Header
.form-task__header,
.edit-task__header {
    // position: relative;
    // display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: space.$desktop-space-lv-1 32px;
}

.form-task__header {
    background: $primary-color-10; // ! due to change
}

.edit-task__header {
    background: $secondary-color-05;
}

// *Hotfix: hacks to get it to center
.module__title {
    position: absolute;
    // top: 21px;
    top: space.$desktop-space-lv-2;
    left: 0;
    // bottom: 0;
    right: 0;
    margin: auto;
    overflow: auto;
    width: 50%;
    // height: 50%;
    text-align: center;
}

// ? WIP is there a Mobile Design?
a.module-cancel__btn {
    position: relative;
    color: $text-color-60;
    padding: 15px 30px;
    top: 10px; // * Hotfix: align with heading "Form Task"
}

// ANIMATIONS
a.module-cancel__btn:hover {
    text-decoration: underline;
}

a.module-update__btn {
    // display: flex;
    // justify-content: center;
    // align-items: end;
    display: inline-block;
    text-align: center;
    padding: 14px 28px;
    border-radius: 14px;
    background-color: $primary-color-70;
}

a.module-update__btn:hover {
    background-color: $primary-color-80;
}

a.module-update__btn:active {
    background-color: $primary-color-60;
}

a.module-update__btn span {
    position: relative;
    color: $primary-color-05;
    top: 4px;
}
// Module Form
// Features:
// - Label height: 40.8px for Mobile
// - Label height: 53.8px for Desktop
// - Icon Wrapper 36w x 36h
// - hotfix: text position

// * Used with Script
.form-task__wrapper,
.edit-task__wrapper {
    display: block;
}

.form-task__wrapper.hidden,
.edit-task__wrapper.hidden {
    display: none;
}

.form-task__module,
.edit-task__module {
    position: absolute;
    width: 100%;
    max-width: 768px;
    top: space.$desktop-space-lv-2;
    background-color: #ffffff;
    border-radius: 25px;
    z-index: 100;
    // left: 50%;
    // margin-left: -384px;
    // Horizontal Centering of an absolute element
    right: 0;
    left: 0;
    margin: auto;
}

// * Hotfix: Text position
.form-task__form span.module__label,
.edit-task__form span.module__label {
    position: relative;
    top: 5px;
}

.form-task__form label,
.form-task__form .color-change__label,
.edit-task__form label,
.edit-task__form .color-change__label {
    display: flex;
    align-items: center;
    // height: 53.8px;
    height: 40.8px;
}

label[for="task__input"] {
    display: flex;
    align-items: center;
    height: 53.8px;
}

.icon__wrapper {
    display: flex;
    width: 37px;
    height: 37px;
    justify-content: center;
    align-items: center;
}

.pin__container,
.due-date__container {
    height: 53.8px;
}

.due-date__container {
    display: flex;
    justify-content: start;
}

input#due-date__input {
    margin-left: space.$desktop-space-lv-1;
}

.pin__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// ====================================
// # Form Module - Indvidual Components
// ====================================

// Task Component
.task__container {
    margin: space.$desktop-space-lv-1 32px;
}

.fa-pencil {
    color: $text-color-60;
    font-size: 19px;
}

// Due Date Component
.due-date__container {
    margin: space.$desktop-space-lv-1 32px;
}

.calendar-icon {
    width: 21.8px;
    height: 23px;
}

// Memo Container
.memo__container {
    margin: space.$desktop-space-lv-1 32px;
}

.fa-file {
    color: $text-color-60;
    font-size: 17px;
}

// Text Area
#memo__input {
    resize: none;
    width: 100%;
}

#memo__input:focus {
    outline: none;
}

// Pin to the Top Component
.pin__container {
    margin: space.$desktop-space-lv-1 32px;
}

.pin__container .fa-thumb-tack {
    color: $text-color-60;
    font-size: 18px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 61.4px;
    height: 36px;
    // padding: 56px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 999px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 27.4px;
    width: 27.4px;
    left: 3.5px;
    bottom: 6px;
    background-color: #ffffff;
    transition: 0.4s;
    border-radius: 999px;
}

// input.form-pin__input:checked + .slider,
// input.edit-pin__input:checked + .slider {
input:checked + .slider {
    background-color: $primary-color-40;
}

// input.form-pin__input:focus + .slider,
// input.edit-pin__input:focus + .slider {
input:focus + .slider {
    box-shadow: 0 0 1px $primary-color-40;
}

// input.form-pin__input:checked + .slider:before,
// input.edit-pin__input:checked + .slider:before {
input:checked + .slider:before {
    transform: translateX(26.4px);
}

// Color Change Component
.color-change__container {
    margin: space.$desktop-space-lv-1 32px;
}

.color-change__label {
    display: block;
    margin-bottom: space.$desktop-space-lv-1;
}

.color-change__selection {
    display: flex;
    justify-content: center;
    padding-bottom: space.$desktop-space-lv-2;
}

.color-change__icon {
    width: 23px;
    height: 23px;
}

.color-change__circle {
    display: inline-block;
    border-radius: 999px;
    border: 2px solid $sticky-ring-color;
    margin-right: space.$desktop-space-lv-1;
    cursor: pointer;
}

.color-change__circle:hover {
    // border-color: $primary-color-40;
    // border: 2px solid $primary-color-40;
    // transform: scale(1.2);
}

// ANIMATION: SELECTED, CLICKED, CHECKED
.color-change__selection input[type="radio"] {
    display: none;
    &:checked + label {
        span {
            // transform: scale(1.25);
        }
        // border: 2px solid $primary-color-40;
        border: 2px solid $primary-color-70;
    }
}

.color-change__selection label {
    display: inline-block;
    width: 44px;
    height: 44px;
    margin-right: space.$desktop-space-lv-1;
    cursor: pointer;
    &:hover {
        span {
            transform: scale(1.2);
        }
    }
    &:checked {
        border: 2px solid $primary-color-40;
    }
}

.color-change__selection span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.color-change__selection--red {
    background-color: $sticky-color-1;
}

.color-change__selection--yellow {
    background-color: $sticky-color-2;
}

.color-change__selection--blue {
    background-color: $sticky-color-3;
}

.color-change__selection--green {
    background-color: $sticky-color-4;
}

.color-change__selection--none {
    background-color: #ffffff;
}

.color-change__selection--none::before {
    content: "None";
    position: absolute;
    color: $text-color-60;
    transform: translate(2px, 12px);
    font-size: 15px; // * Hotfix: for consistency text size in Responsive Design
    // background: #000000;
    // width: 40px;
    // height: 40px;
    transition: none !important; // ! Not Working
}


@media screen and (max-width: 768px) {
    .form-task__module,
    .edit-task__module {
        position: relative;
        // right: auto;
        // left: auto;
    }

    .form-task__wrapper,
    .edit-task__wrapper {
        @include space.tablet-padding-preset;
        position: absolute;
        top: space.$desktop-space-lv-2;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    // ===============================
    // # Form Module - Main Components
    // ===============================

    .form-task__wrapper {
        @include space.mobile-padding-preset;
        top: space.$mobile-space-lv-2;
    }

    // Module Header
    .form-task__header,
    .edit-task__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 84.6px;
        padding: space.$mobile-space-lv-1 16px;
    }

    // *Hotfix: hacks to get it to center
    .module__title {
        position: absolute;
        top: space.$mobile-space-lv-2;
        left: 0;
        right: 0;
        margin: auto;
        overflow: auto;
        width: 50%;
        // height: 50%;
        text-align: center;
    }

    a.module-cancel__btn {
        padding: 14px 28px;
        top: 6px; // * Hotfix: align with heading "Form Task"
    }

    // Module Form
    .form-task__module,
    .edit-task__module {
        top: space.$mobile-space-lv-2;
    }

    .form-task__form label,
    .form-task__form .color-change__label,
    .edit-task__form label,
    .edit-task__form .color-change__label {
        display: flex;
        align-items: center;
        height: 40.8px;
    }

    label[for="task__input"] {
        display: flex;
        align-items: center;
        height: 40.8px;
    }

    .icon__wrapper {
        width: 36px;
        height: 36px;
    }

    .pin__container,
    .due-date__container {
        height: 40.8px;
    }

    input#due-date__input {
        margin-left: space.$mobile-space-lv-1;
    }

    // ====================================
    // # Form Module - Indvidual Components
    // ====================================
    // Task Component
    .task__container {
        margin: space.$mobile-space-lv-1 16px;
    }

    .fa-pencil {
        color: $text-color-60;
        font-size: 18px;
    }

    // Due Date Component
    .due-date__container {
        margin: space.$mobile-space-lv-1 16px;
    }

    .calendar-icon {
        width: 20.8px;
        height: 22px;
    }

    // Memo Container
    .memo__container {
        margin: space.$mobile-space-lv-1 16px;
    }

    .fa-file {
        font-size: 16px;
    }

    // Pin to the Top Component
    .pin__container {
        margin: space.$mobile-space-lv-1 16px;
    }

    .pin__container .fa-thumb-tack {
        font-size: 17px;
    }

    // Color Change Component
    .color-change__container {
        margin: space.$mobile-space-lv-1 16px;
    }

    .color-change__label {
        margin-bottom: space.$mobile-space-lv-1;
    }

    .color-change__selection {
        padding-bottom: space.$mobile-space-lv-2;
    }

    .color-change__icon {
        width: 22px;
        height: 22px;
    }

    .color-change__circle {
        margin-right: space.$mobile-space-lv-1;
    }

    .color-change__selection label {
        margin-right: space.$mobile-space-lv-1;
    }
}
