@use '../base/space' as space;
@use '../base/color' as *;

// - dimensions
// - margins spacing

// todo - see below or type "todo" in search bar

// main {
//     @include space.tablet-margin-preset;
// }

.app-container {
    padding-bottom: space.$desktop-space-lv-5;
    // margin-bottom: space.$desktop-space-lv-5;
}

.add-task__wrapper {
    @include space.tablet-margin-preset;
    padding: {
        bottom: space.$desktop-space-lv-2;
    };
}

.list-component {
    margin-bottom: space.$desktop-space-lv-half;
}

.list-component__first-block {
    display: flex;
    align-items: center;
    // height: 24px;
    height: 36px;
    margin-left: 32px;
}

// List Components
.list__wrapper {
    padding: {
        top: space.$desktop-space-lv-2;
    };
}

.main-list {
    padding: {
        bottom: space.$desktop-space-lv-2;
    };
}

.list-component__second-block {
    display: block;
    margin-right: 32px; // * Hotfix: L / R margin simulation
    margin-left: 114px;
}

.completed-list h2 {
    margin-bottom: space.$desktop-space-lv-1;
    margin-left: 32px;
}


// Thumb-tack Icon
.list-component .pin__wrapper {
    display: inline-block;
    width: 14.1px;
    // height: 17.5px;
    height: 24px; // height of first list block
    text-align: center;
    margin-right: space.$mobile-space-lv-1;
}

.fa-thumb-tack {
    transform: rotate(-45deg);
}

.list-component .fa-thumb-tack {
    color: $warning-color-40;
}

// Checkbox Icon
label {
    // height: 24px;
    input[type="checkbox"] {
        + .text-label:before {
            display: inline-block;
            margin-right: space.$mobile-space-lv-1;
        }
    }
}

// Due-Date Container
.due-date{
    // display: inline-block;
    display: flex;
    align-items: end; // ? Further testing with more lists needed
    height: 24px;
    width: 67px; // ? Maybe want maybe not... test with large dates and compare alignments with other lists
    text-align: center;
    margin-left: auto;
    margin-right: space.$mobile-space-lv-1;
}

// Due-Date Text
.text-date {
    align-items: center;
}

// Edit Task button Container
.ellipses__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    cursor: pointer;
}

// Sticky Color
.sticky-color {
    display: flex;
    width: 22.5px;
    height: 36px;
}

.red {
    background-color: $sticky-color-1;
}

.yellow {
    background-color: $sticky-color-2;
}

.blue {
    background-color: $sticky-color-3;
}

.green {
    background-color: $sticky-color-4;
}

// ! WIP -testing needs to be done >>

// Memo block
.list-component__second-block {
    display: block;
}


// !<<

// # For Script to Handle

// Hide the following, but keep dimension relationship with other components
// - Thumb-Tack
// - Due date
// - Sticky
// - Memo
.invisible {
    visibility: hidden;
}

// todo
// ! WIP
// - fit whole screen
// - make below modules only
.overlay__module {
    // ! add grey color
}


// ! WIP >>
@media screen and (min-width: 768px) {
    main {
        @include space.tablet-margin-preset;
        max-width: 768px;
    }
}

// @media screen and (min-width: 640px) {
//     main {
//         @include space.tablet-margin-preset;
//         max-width: 640px;
//     }
// }
// ! <<

@media screen and (max-width: 576px) {
    // main {
    //     @include space.mobile-margin-preset;
    // }

    .add-task__wrapper {
        @include space.mobile-margin-preset;
        padding: {
            bottom: space.$mobile-space-lv-2;
        };
    }

    .list-component__first-block {
        margin-left: 16px;
    }

    .list__wrapper {
        padding: {
            top: space.$mobile-space-lv-2;
        };
    }

    .main-list {
        padding: {
            bottom: space.$mobile-space-lv-2;
        };
    }

    .completed-list {
        padding: {
            top: space.$mobile-space-lv-2;
        };
    }

    .completed-list h2 {
        margin-left: 16px;
    }

    // List Component
    .list-component {
        margin-bottom: space.$mobile-space-lv-half;
    }

    .list-component__second-block {
        display: block;
        margin-right: 16px;
        margin-left: 98px;
    }

    .completed-list h2 {
        margin-bottom: space.$mobile-space-lv-1;
    }
}