@use '../base/space' as space;


// ! WIP >>
header {
    @include space.tablet-margin-preset;
    // max-width: 640px;
}

// ! WIP >>


nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // height: 64px; // ! due to change
    margin-bottom: space.$desktop-space-lv-2;

    .form-task__btn {
        justify-self: flex-start;
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .settings__dropdown {
        justify-self: flex-end;
    }
}

@media screen and (min-width: 768px) {
    // ! Change position of h1 tag "todo-list"
    // - margin top / bottom
    // - with script reposition
}

@media screen and (max-width: 576px) {
    nav {
        margin-bottom: space.$mobile-space-lv-2;
        height: 64px;
    }
}

@media screen and (max-width: 450px) {
    header {
        @include space.mobile-margin-preset;

    }

    nav h1 {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        transform: none;
    }
}