// =====
// COLOR
// =====

// "ocean blue"
$primary-color-05: #EAF5FB; // USED
$primary-color-10: #D5ECF6;
$primary-color-20: #ABD8ED;
$primary-color-30: #80C5E4;
$primary-color-40: #56B2DC;
$primary-color-50: #2C9FD3; // USED
$primary-color-60: #237FA9;
$primary-color-65: #227CA5; // * USED unique to "+ Form Task" button
$primary-color-70: #164F69; // MAIN
$primary-color-80: #123F54;
$primary-color-90: #09202A;

// "orange yellow sunshine"
$secondary-color-05: #FCF5E3; // MAIN
$secondary-color-10: #FAEFD1;
$secondary-color-20: #F5DEA3;
// $secondary-color-30: #FFFFFF; // REJECTED
// $secondary-color-40: #FFFFFF; // REJECTED
// $secondary-color-50: #FFFFFF; // REJECTED
// $secondary-color-60: #FFFFFF; // REJECTED
// $secondary-color-70: #FFFFFF; // REJECTED
// $secondary-color-80: #FFFFFF; // REJECTED
// $secondary-color-90: #FFFFFF; // REJECTED

// Text Color
$text-color-05: #F2F2F2;
$text-color-10: #E5E5E5;
$text-color-20: #CCCCCC; // USED
$text-color-30: #B2B2B2;
$text-color-40: #999999;
$text-color-50: #7F7F7F;
$text-color-60: #666666;
$text-color-70: #4C4C4C;
$text-color-80: #333333;
$text-color-90: #191919;

// "Warning" Color
$warning-color-05: #FCEBE9;
$warning-color-10: #F9D7D2;
$warning-color-20: #F2B0A6;
$warning-color-30: #EC8879;
$warning-color-40: #E66451; // MAIN
$warning-color-50: #DF3820;
$warning-color-60: #B22D19;
$warning-color-70: #862213;
$warning-color-80: #59170C;
$warning-color-90: #2D0B06;

// "Sticky" Color
$sticky-color-1: #F2878A;
$sticky-color-2: #FFCC5C;
$sticky-color-3: #458FC0;
$sticky-color-4: #88D8B0;