@use '../base/typography' as *;
@use '../base/color' as *;
@use '../base/space' as space;

// # MAIN BUTTON COMPONENTS
button {
    // RESET
    border: none;
    background-color: #ffffff;
    // DEFAULT
    cursor: pointer;
}

.text__btn {
    height: 56px;
}

.block__btn {
    display: block;
    padding: 15px auto;
    width: 100%;
    height: 56px;
    border-radius: 15px;
}

.form-task__btn {
    border: solid 1px $primary-color-65;
    padding: 15px 15px;
    border-radius: 15px;
    color: $primary-color-65;
}

.form-task__btn:hover,
.form-task__btn:focus {
    background: $primary-color-65;
    color: $primary-color-05;
}

.form-task__btn:active {
    background-color: $primary-color-50;
}

.add-task__btn {
    color: $primary-color-05;
    background-color: $primary-color-70;
    margin-top: space.$desktop-space-lv-1;
}

.add-task__btn:hover {
    color: $primary-color-05;
    background-color: $primary-color-80;
}

.add-task__btn:active {
    color: $primary-color-05;
    background-color: $primary-color-60;
}

// Plus Icon
// Use Case:
// - Form Task
.fa-plus {
    font-size: 22px;
    margin-right: 10px;
    position: relative;
    top: 1px;
}

// Trash Icon
// Use Case:
// - Clear List button
// - "Yes, Delete List" button
.fa-trash {
    color: $text-color-60;
    cursor: pointer;
    font-size: 20px;
    width: 46px;
    padding: {
        top: 14.5px;
        bottom: 14.5px;
    }
}
.fa-trash {
    color: $text-color-60;
    cursor: pointer;
}

// # CTA: clear-list
// Container "settings__dropdown"
.settings__dropdown {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 46px;
}

// Remove default list styles
.settings__dropdown ul,
.settings__dropdown ul ul {
    list-style: none;
}

// ANIMATIONS (Pseudo Code)
a.clear-list__btn:hover {
    background: $primary-color-05;
    color: $primary-color-70;
}

// ANIMATIONS (Pseudo Code) AKA "Element State"
.settings__dropdown ul li ul li:hover,
.settings__dropdown ul li ul li:focus,
.settings__dropdown ul li ul li:active {
    background: $primary-color-05;
    color: $primary-color-70;
}

.settings__dropdown ul li ul {
    display: none;
}

.settings__dropdown ul li:hover > ul,
.settings__dropdown ul li:focus > ul,
.settings__dropdown ul li:active > ul {
    display: block;
}

// Match "trash" Icon Size - 36w x 36h
.settings__dropdown ul {
    width: 46px;
    height: 46px;
}

// Containing the "trash button" Icon and its components
.settings__dropdown ul li .show-clear-list__btn {
    position: relative;
    display: inline;
    width: 46px;
    height: 46px;
}

.settings__dropdown ul li {
    position: relative;
    width: 46px;
    height: 46px;
    text-align: center;
}

// ANIMATIONS (Pseudo Codes)
.settings__dropdown ul li .show-clear-list__btn i:hover {
    background: $primary-color-05;
    color: $primary-color-70;
}

// # CTA: Text "Clear List" button
// * Stylize Dropdown
.settings__dropdown ul ul {
    position: absolute;
    top: 48px;
    right: 0px;
    min-height: 52.2px;
    min-width: 111px;
}

.settings__dropdown ul li ul li {
    min-height: 52.2px;
    min-width: 111px;
}

.delete-confirmation-confirm__btn--text,
.delete-confirmation-confirm__btn,
.delete-confirmation-cancel__btn--text,
.delete-confirmation-cancel__btn {
    outline: none;
}

// anchor tag "Clear List" button
// * Hotfix center text "Clear List"
a.clear-list__btn {
    color: $text-color-90;
    position: absolute;
    top: -12px;
    left: -1px;
    transform: translate(0%, 25%);
    padding: {
        top: 7px;
        bottom: 7px;
        right: 15px;
        left: 15px;
    }
    border: 1px solid $text-color-20;
}

// # CTA: Edit Task
.fa-ellipsis-h {
    color: $text-color-60;
    pointer-events: none;
}

// ANIMATIONS (Pseudo Code)
.ellipses__wrapper:hover > .fa-ellipsis-h,
.ellipses__wrapper:focus > .fa-ellipsis-h,
.ellipses__wrapper:active > .fa-ellipsis-h {
    color: $primary-color-70;
}

.ellipses__wrapper:hover,
.ellipses__wrapper:focus,
.ellipses__wrapper:active {
    background: $primary-color-05;
}

// Form Task Module - "+ Add Task" button
.add-task-form__btn {
    color: $primary-color-05;
    background-color: $primary-color-70;
    margin-top: space.$desktop-space-lv-1;
}

.add-task-form__btn:hover {
    color: $primary-color-05;
    background-color: $primary-color-80;
}

.add-task-form__btn:active {
    color: $primary-color-05;
    background-color: $primary-color-60;
}

.edit-task-form__btn--delete {
    color: $warning-color-05;
    background-color: $warning-color-60;
}

.edit-task-form__btn--delete .fa-trash {
    color: $warning-color-05;
}

// ANIMATIONS
.edit-task-form__btn--delete:hover {
    background-color: $warning-color-70;
}

.edit-task-form__btn--delete:active {
    background-color: $warning-color-50;
}

// Module: Clear List
// "No, Keep List" button
.delete-confirmation-cancel__btn {
    position: relative;
    height: 54px;
    border: 1px solid $text-color-60;
    border-radius: 14px;
    padding: 15px 30px;
    color: $text-color-60;
    text-align: center;
}

.delete-confirmation-cancel__btn--text {
    position: relative;
    top: -5px;
    width: 100%;
    height: 100%;
    font-size: 24px;
}

// ANIMATIONS
.delete-confirmation-cancel__btn:hover,
.delete-confirmation-cancel__btn:active {
    color: #ffffff;
    background-color: $text-color-60;
}

// "Yes, Delete List" button
.delete-confirmation-confirm__btn {
    position: relative;
    height: 54px;
    border-radius: 14px;
    padding: 15px 30px;
    text-align: center;
    background-color: $warning-color-60;
}

.delete-confirmation-confirm__btn--text {
    position: relative;
    top: -5px;
    top: -13px;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: $warning-color-05;
}

.delete-confirmation-confirm__btn--text .fa-trash {
    color: $warning-color-05;
    width: auto;
    margin-right: space.$desktop-space-lv-half;
}

// ANIMATIONS
.delete-confirmation-confirm__btn:hover {
    background-color: $warning-color-70;
}

.delete-confirmation-confirm__btn:active {
    background-color: $warning-color-50;
}

@media screen and (max-width: 576px) {
    // # MAIN BUTTON COMPONENTS
    .text__btn {
        height: 42px;
    }

    .block__btn {
        padding: 14px auto;
        height: 42px;
        border-radius: 14px;
    }

    .form-task__btn {
        padding: 14px 14px;
        border-radius: 14px;
    }

    .add-task__btn {
        margin-top: space.$mobile-space-lv-1;
    }

    // # CTA ICONS
    .icon__btn {
        width: 36px;
        height: 36px;
    }

    // Plus Icon
    // Use Case:
    // - Form Task
    .fa-plus {
        font-size: 19px;
        // margin-right: 10px;
        margin-right: space.$mobile-space-lv-half;
        top: 1.5px;
    }

    .add-task__btn .fa-plus {
        top: 2px;
    }

    // Trash Icon
    // Use Case:
    // - Clear List button
    // - "Yes, Delete List" button
    .fa-trash {
        font-size: 18px;
        width: 36px;
        padding: {
            top: 10px;
            bottom: 10px;
        }
    }

    // # CTA: clear-list
    // Match "trash" Icon Size - 36w x 36h
    .settings__dropdown ul {
        width: 36px;
        height: 36px;
        // border: green solid 1px;
    }

    // Containing the "trash button" Icon and its components
    .settings__dropdown ul li .show-clear-list__btn {
        position: relative;
        display: inline;
        width: 36px;
        height: 36px;
    }

    .settings__dropdown ul li {
        position: relative;
        width: 36px;
        height: 36px;
        text-align: center;
    }

    // ANIMATIONS (Pseudo Codes)
    .settings__dropdown ul li .show-clear-list__btn i:hover {
        background: $primary-color-05;
        color: $primary-color-70;
    }

    // # CTA: Text "Clear List" button
    // * Stylize Dropdown
    .settings__dropdown ul ul {
        position: absolute;
        top: 36px;
        right: 0px;
        min-height: 41.3px;
        min-width: 90px;
    }

    .settings__dropdown ul li ul li {
        min-height: 41.3px;
        min-width: 90px;
    }

    // anchor tag "Clear List" button
    // * Hotfix center text "Clear List"
    a.clear-list__btn {
        color: $text-color-90; // ? Under Considerations vs. #000000 vs. lighter shade
        position: absolute;
        top: -8px;
        left: 0;
        transform: translate(0%, 25%);
        padding: {
            top: 11px;
            bottom: 12px;
            left: 14px;
            right: 14px;
        }
        border: 1px solid $text-color-20;
    }

    // Module: Clear List
    // "No, Keep List" button
    .delete-confirmation-cancel__btn {
        height: 42px;
        padding: 14px 28px;
    }

    .delete-confirmation-cancel__btn--text {
        font-size: 18px;
    }

    // "Yes, Delete List" button
    .delete-confirmation-confirm__btn {
        height: 42px;
        padding: 14px 28px;
    }

    .delete-confirmation-confirm__btn--text {
        font-size: 18px !important;
    }
}
